# Visualisation Fun
Taking an interest in visualisation.\
Will be doing this by the side/later after project is turned in\

Visualising:
- Yearly Sales Per Country
- Sales per customer
- And more!

In [6]:
# Restoring Stored dataframe from the other notebook
%store -r

In [7]:
# Importing libraries to work with
import seaborn as sns     # Plotting
import matplotlib as plt  # Chad plotting
import pandas as pd       # Dataframe Operations
import numpy as np        # Maths n stuff

In [10]:
display(retail_dat.describe(),
prep_dat.describe())

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,396483.000000,396483,396483.000000,396483.000000
mean,12.616665,2011-07-11 00:05:58.005917184,2.884392,15301.441479
min,1.000000,2010-12-01 08:26:00,0.001000,12347.000000
25%,2.000000,2011-04-07 11:16:00,1.250000,13975.000000
50%,6.000000,2011-07-31 14:39:00,1.950000,15159.000000
75%,12.000000,2011-10-20 14:40:00,3.750000,16801.000000
max,4800.000000,2011-12-09 12:50:00,649.500000,18287.000000
std,42.794114,NaN,4.354877,1709.755409

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,337342.000000,337342,337342.000000,337342.000000
mean,7.484446,2011-07-12 16:56:58.658393856,2.183318,15325.980649
min,1.000000,2010-12-01 08:26:00,0.001000,12347.000000
25%,2.000000,2011-04-08 08:27:00,1.250000,13994.000000
50%,6.000000,2011-08-03 13:39:00,1.650000,15246.000000
75%,12.000000,2011-10-23 14:47:00,2.950000,16818.000000
max,26.000000,2011-12-09 12:50:00,7.460000,18287.000000
std,6.769771,NaN,1.530323,1710.719613

# Visualising random stuff